.signinButton {
	padding-top: 10px;
}
#userpic {
	height:50px;
  width:50px;
  border-radius:50%;
  overflow:hidden;
  margin:auto;
}
#userInfo {
	padding-top: 5px;
}
#itemPicture {
	height:400px;
  border-radius:5%;
  overflow:hidden;
  margin:auto;
}
.media-object {
	height:50px;
}
.categories {
	list-style-type: none;
}
