{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
  <h1>Catalog</h1>
</div>
<div class="row clearfix">
  <div class="col-md-6 column">
      <h3>
        Categories
      </h3>
      <h4>
        <a href="{{ url_for('newCategory') }}">Add a new category.</a>
      </h4>
    <ul>
          {% for i in categories %}
          <li>
            {% if i.id == category.id %}
              <u>
            {% endif %}
            <h3><a href="{{ url_for('catalog', category_id = i.id) }}">{{ i.name }}</a></h3>
            {% if i.id == category.id %}
              </u>
            {% endif %}
            <a href="{{ url_for('editCategory', category_id = i.id) }}">Edit</a>
            <a href="{{ url_for('deleteCategory', category_id = i.id) }}">Delete</a>
            <br><br>
          </li>
          {% endfor %}
    </ul>
  </div>
  <div class="col-md-6 column">
    <h3>
      {% if category.id %}
        {{ category.name }} Items ({{ items.count() }} items)
      {% else %}
        Latest Items
      {% endif %}
    </h3>
    <ul>
          {% for i in items %}
          <li>
            <h3><a href="">{{ i.name }}</a></h3>
            {% if not category.id %}
              <h5>{{ i.category.name }}</h5>
            {% endif %}
            <a href="">Edit</a>
            <a href="">Delete</a>
            <br><br>
          </li>
          {% endfor %}
    </ul>
  </div>

</div>

{% endblock %}
